#title{
  background-color: #ff4c68;
}
body{
  font-family: Montserrat;
}
h1{
  font-weight: 900;
  size: 3rem;
  line-height: 1.5;
  text-align: left;
}
h2{
  font-family: Montserrat-Bold;
font-size: 3rem;
line-height: 1.5;
padding: 3% 20% 0;
}
.container-fluid{
  padding:3% 15% 12%;
}
.image-iphone{
  width:60%;
  transform: rotate(20deg);
  position: absolute;
  right: 25%;
}
#title{
  align:auto;
  color: #fff;
}
/* nav bar */
.navbar-brand{
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-weight:bold;
}
.navbar{
  padding: 0 0 4.5rem;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: Montserrat-Light;
}

/* download buttons */
.download-button{
  margin:5% 3% 3% 0%;
}

/* features */
.featureimg{
  color : #ef8172;
  margin-bottom: 1rem;
}
.featureimg:hover{
color:#ff4c68;
}
h3{
  font-family: Montserrat-bold;
  font-size: 1.5rem;
}
.feature-text{
  color: #8f8f8f;
}
.feature-row{
text-align: center;
padding: 1%;
}
/*for centering use section id and padding*/
#features{
padding: 7% 15%;
background-color: #fff;
position: relative;
}
/* testimonials */
#testimonials{
  background-color: #ff4c68;
  text-align: center;
  color:#fff;
}
.testimonial-image{
  width:10%;
  height:auto;
  border-radius: 50%;
  margin-bottom: 40px;
}

/* Press */
#press{
  background-color:  #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing{
  padding: 100px;
  text-align:center;

}
.pricing-column{
 padding: 3% 2%;
 border: 0px;
}
.card-body{
  border-width: 1px;
  border-style: solid;
}
.card-header{
  border-width: 1px;
  border-style: solid;
}

 /* Cta & Footer */
 #cta{
   background-color: #ff4c68;
   text-align: center;
   padding-top: 40px;
   padding-bottom: 40px;
 }
.cta-text{
  font-family: Montserrat-Bold;
  color: #fff;
  font-size: 3rem;
  padding: 3% 25% 1% 25%
}
.cta-download{
  margin:5% 3% 3% 0%;
}

#footer{
  background-color: #fff;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer{
  margin:5% 1% 1% 0%;
}

/* Media Query for responsive web page in mobile */
@media (max-width: 1028px){
  #title{
    text-align: center;
  }
  h1{
    text-align: center;
  }
  .image-iphone{
    position: static;
    transform: rotate(0deg);
  }
}
